---
import { verificarSesion } from "@utils/usuario";

const usuario = await verificarSesion(Astro.request);

import { proyectosUsuario } from "@utils/proyectoSeleccionado";

import UsuariosOnline from "./UsuariosOnline";

const proyectos = await proyectosUsuario(Astro.request);

const url = new URL(Astro.request.url);
const proyectoSeleccionadoID = url.searchParams.get("proyectoID");

// Objeto para guardar usuarios online por proyecto
const usuariosOnline: Record<string, number> = {};

// Por cada proyecto, obtenemos los usuarios online

function formatearFechaES(
    fecha: string | Date | null | undefined
    ): string {
    if (!fecha) return "";

    const date = fecha instanceof Date ? fecha : new Date(fecha);
    if (isNaN(date.getTime())) return "";

    const meses = [
        "ene", "feb", "mar", "abr", "may", "jun",
        "jul", "ago", "sep", "oct", "nov", "dic"
    ];

    const dia = date.getDate();
    const mes = meses[date.getMonth()];
    const año = date.getFullYear();

    return `${dia} ${mes} ${año}`;
}

type ProyectoUrl = {
    url: string;
    principal: boolean;
};

type Proyecto = {
    id: string;
    nombre: string;
    favicon: string;
    tipo_web: { tipo: string }[];
    estado: string;
    urls: ProyectoUrl[];
    plan: any[];
    rolUsuario: string;
    actualizado_en: string | Date | null;
    created_at: string | Date | null;
    tipo_proyecto?: string;
};
---
<section class="max-w-7xl mx-auto w-auto h-auto p-2">
    <h1 class="text-4xl font-bold text-center mt-10">Panel de Administración</h1>
    <p class="text-center mt-4">Bienvenido <span class="text-magenta">{usuario.nombre}</span> al panel de administración de tus proyectos.</p>
    <h2 class="font-bold text-4xl ml-4 text-magenta mt-10">Proyectos</h2>
    <div class="w-full p-5 flex flex-wrap gap-6  ">
            {proyectos.map((p: Proyecto) => (
                <div class="w-96 relative h-52 overflow-hidden border border-blanco p-2 rounded hover:shadow-md hover:shadow-rosa hover:scale-105 hover:border-rosa duration-300">
                    {
                        p.tipo_proyecto === "demo" && (
                            <div class="absolute top-2 -right-8 rotate-45 uppercase text-blanco px-2 py-1 w-28 text-center texto-sm  bg-magenta">
                                {p.tipo_proyecto}
                            </div>
                        )
                    }
                <a href={`/panel?proyectoID=${p.id}`} class="w-full h-full">
                    <div class="w-full grid grid-cols-[auto_1fr] items-center ">
                        <img src={p.favicon} alt={`${p.nombre} favicon`} class="w-14 h-14"/>
                        <div>
                            <h4 class="text-2xl text-magenta font-semibold">{p.nombre}</h4>
                            {p.tipo_web && p.tipo_web.length > 0 && (
                            <span class="text-base text-rosa font-medium">
                                {p.tipo_web.map(({ tipo }: { tipo: string }) => tipo).join(" + ")}
                            </span>
                            )}
                        </div>
                        
                    </div>
                    <div class="w-max flex flex-row items-center place-content-center gap-x-1 mx-1 mt-2 capitalize">
                        <p class={`flex flex-row items-center place-content-center gap-x-1 ${p.estado === "En Producción" ? 'text-green-600':''} ${p.estado === "En Desarrollo" ? 'text-orange-600':''}`}><span class={`w-[6px] h-[6px] inline-block rounded-full ${p.estado === "En Producción" ? 'bg-green-600':''} ${p.estado === "En Desarrollo" ? 'bg-orange-600':''}`}>&nbsp;</span>
                            {p?.estado === "En Producción"
                                        ? "Activo"
                                        : p?.estado
                                    }
                        </p>
                        <span>|</span>
                        <p>
                            Última actualización: {p.actualizado_en ? formatearFechaES(p.actualizado_en) : formatearFechaES(p.created_at)}
                        </p>
                    </div>
                    <div class="w-full mt-4 grid grid-cols-3 place-items-center ">
                        {/* Dominios */}
                        <div class="w-20 h-20 rounded border border-rosa flex flex-col place-content-center items-center">
                            
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 -960 960 960">
                                    <path d="M480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-7-.5-14.5T799-507q-5 29-27 48t-52 19h-80q-33 0-56.5-23.5T560-520v-40H400v-80q0-33 23.5-56.5T480-720h40q0-23 12.5-40.5T563-789q-20-5-40.5-8t-42.5-3q-134 0-227 93t-93 227h200q66 0 113 47t47 113v40H400v110q20 5 39.5 7.5T480-160Z"/>
                                </svg>
                            
                            <p class="text-sm">Dominios</p>
                            <p class="text-xl font-semibold">{p.urls?.length || 0}</p>
                        </div>
                        {/* Servicios */}
                        <div class="w-20 h-20 rounded border border-rosa flex flex-col place-content-center items-center">
                            
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 -960 960 960">
                                    <path d="M280-160v-441q0-33 24-56t57-23h439q33 0 56.5 23.5T880-600v320L680-80H360q-33 0-56.5-23.5T280-160ZM81-710q-6-33 13-59.5t52-32.5l434-77q33-6 59.5 13t32.5 52l10 54h-82l-7-40-433 77 40 226v279q-16-9-27.5-24T158-276L81-710Zm279 110v440h280v-160h160v-280H360Zm220 220Z"/>
                                </svg>
                            
                            <p class="text-sm">Servicios</p>
                            <p class="text-xl font-semibold">{p.plan?.length || 0}</p>
                        </div>
                        {/* Usuarios */}
                        <div class="w-20 h-20 rounded border border-rosa flex flex-col place-content-center items-center">
                            
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 -960 960 960">
                                    <path d="M360-390q-21 0-35.5-14.5T310-440q0-21 14.5-35.5T360-490q21 0 35.5 14.5T410-440q0 21-14.5 35.5T360-390Zm240 0q-21 0-35.5-14.5T550-440q0-21 14.5-35.5T600-490q21 0 35.5 14.5T650-440q0 21-14.5 35.5T600-390ZM480-160q134 0 227-93t93-227q0-24-3-46.5T786-570q-21 5-42 7.5t-44 2.5q-91 0-172-39T390-708q-32 78-91.5 135.5T160-486v6q0 134 93 227t227 93Zm0 80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm-54-715q42 70 114 112.5T700-640q14 0 27-1.5t27-3.5q-42-70-114-112.5T480-800q-14 0-27 1.5t-27 3.5ZM177-581q51-29 89-75t57-103q-51 29-89 75t-57 103Zm249-214Zm-103 36Z"/>
                                </svg>
                            
                            <p class="text-sm">Online</p>
                            <p class="text-xl font-semibold"><UsuariosOnline proyectoID={p.id} client:load/> </p>
                        </div>
                    </div>
                </a>
                </div>
            ))}
    </div>
</section>