---
import LayoutPanel from "@layouts/LayoutPanel.astro";
import { verificarSesion } from "@utils/usuario";
import Resumen from "@components/panel/analytics/Resumen";
const usuario = await verificarSesion(Astro.request);

import { proyectosUsuario } from "@utils/proyectoSeleccionado";
import IndexGeneral from "@components/panel/IndexGeneral.astro";
import { SERVICIOS_ICONOS } from "@const/servicios";
import { supabase } from "@utils/supabase";

const proyectos = await proyectosUsuario(Astro.request);

const url = new URL(Astro.request.url);
const proyectoSeleccionadoID = url.searchParams.get("proyectoID");
const proyectoSeleccionado =
    proyectos.find(p => p.id === proyectoSeleccionadoID) ?? null;

let urlPrincipal =
    proyectoSeleccionado?.urls?.find(
        (u: { principal: boolean }) => u.principal
    )?.url ?? null;

urlPrincipal = `https://${urlPrincipal}`;
//console.log("urlPrincipal:", urlPrincipal);
const totalUrls = proyectoSeleccionado?.urls?.length ?? 0;
const extraUrls = totalUrls > 1 ? totalUrls - 1 : 0;

function formatearFechaES(
    fecha: string | Date | null | undefined
    ): string {
    if (!fecha) return "";

    const date = fecha instanceof Date ? fecha : new Date(fecha);
    if (isNaN(date.getTime())) return "";

    const meses = [
        "ene", "feb", "mar", "abr", "may", "jun",
        "jul", "ago", "sep", "oct", "nov", "dic"
    ];

    const dia = date.getDate();
    const mes = meses[date.getMonth()];
    const año = date.getFullYear();

    return `${dia} ${mes} ${año}`;
}

const plan = proyectoSeleccionado?.plan ?? [];

const serviciosPlanSet = new Set(plan.map((p: any) => p.servicio));
const serviciosIncluidos = SERVICIOS_ICONOS.filter(s =>
    serviciosPlanSet.has(s.id)
);

---

<LayoutPanel title="Panel de Administración - Pere Alemany | Full-Stack Developer">
    {
        proyectoSeleccionadoID ? (<>
            <section class="max-w-7xl mx-auto w-auto h-auto p-2">
                <div class="grid grid-cols-[auto_1fr] gap-x-2 border border-rosa rounded p-4 ">
                    <div class="w-96 aspect-[16/9] flex items-center place-content-center bg-rosa/30 rounded relative">
                        {urlPrincipal?.startsWith("https://") && (
                            <p>Cargando Imagen...</p>
                            <img
                                src={`/api/screenshot.png?url=${encodeURIComponent(urlPrincipal)}`}
                                alt="Preview web"
                                loading="lazy"
                                class="w-full h-full rounded absolute top-0 left-0 object-cover"
                            />
                        )}
                    </div>

                    <div class="flex flex-col place-content-between">
                        <h1 class="text-4xl font-bold text-magenta">{proyectoSeleccionado?.nombre}</h1>
                        <div>
                            <p class="mt-2 text-rosa">Dominios</p>
                            <div class="flex flex-row items-center gap-x-4">
                                <a href={urlPrincipal} target="_blank" class="text-blanco flex flex-row items-center gap-x-1  hover:text-rosa hover:fill-rosa duration-300">{urlPrincipal}
                                    <span>
                                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 -960 960 960">
                                            <path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z"/>
                                        </svg>
                                    </span>
                                </a>
                                {
                                    extraUrls > 0 ? (
                                        <span class="text-sm bg-blue-600/60 rounded-full text-blanco flex flex-row items-center place-content-center w-6 h-6"> +{extraUrls} </span>
                                    ) : null
                                }
                            </div>
                        </div>
                        
                        
                        <div class="flex flex-row mt-3 gap-x-3">
                            <div>
                                <p class="text-rosa">Estado:</p>
                                <span class={` py-[2px] flex items-center place-content-center capitalize px-2 gap-x-1 rounded-full `}><span class={`w-[6px] h-[6px] inline-block rounded-full ${proyectoSeleccionado?.estado === "En Producción" ? 'bg-green-600':''} ${proyectoSeleccionado?.estado === "En Desarrollo" ? 'bg-orange-600':''}`}>&nbsp;</span>
                                    {proyectoSeleccionado?.estado === "En Producción"
                                        ? "Activo"
                                        : proyectoSeleccionado?.estado
                                    }
                                </span>
                            </div>
                            <div>
                                <p class="text-rosa">Última actualización:</p>
                                <p>{proyectoSeleccionado?.actualizado_en ? formatearFechaES(proyectoSeleccionado?.actualizado_en) : formatearFechaES(proyectoSeleccionado?.created_at)}</p>
                            </div>
                            <div>
                                <p class="text-rosa">Caduca el:</p>
                                <p>{proyectoSeleccionado?.caducidad ? formatearFechaES(proyectoSeleccionado?.caducidad) : 'NaN'}</p>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="w-full grid grid-cols-3 gap-x-4 mt-5">
                    <div class="h-72 p-2 rounded border border-rosa ">
                        <a href={`/panel/servicios?proyectoID=${proyectoSeleccionadoID}`} class="font-semibold text-xl hover:text-magenta duration-300">Servicios Activos</a>
                        <div class="grid grid-cols-3 h-56 grid-rows-2 gap-2 w-full place-items-center  ">
                            {
                                serviciosIncluidos.slice(0, 5).map((s) =>(
                                        <div class="w-24 h-24 text-xs p-1 text-center border border-magenta rounded grid grid-rows-[auto_1fr] place-items-center">
                                                <img src={`/servicios/${s.id}.svg`} class="w-7 h-7 m-2" />
                                                <p>{s.nombre}</p>
                                            </div>
                                ))
                            }
                            {
                                serviciosIncluidos.length > 6 ? (
                                <div class="w-24 h-24 p-1 text-xl text-center border border-magenta rounded grid place-items-center font-semibold text-magenta">
                                    +{serviciosIncluidos.length - 5}
                                </div>
                                ) : (
                                    <>
                                    {
                                        serviciosIncluidos.slice(5, 6).map((s) =>(
                                                    <div class="w-24 h-24 text-xs p-1 text-center border border-magenta rounded grid grid-rows-[auto_1fr] place-items-center">
                                                            <img src={`/servicios/${s.id}.svg`} class="w-7 h-7 m-2" />
                                                            <p>{s.nombre}</p>
                                                        </div>
                                        ))
                                    }
                                    </>
                                )
                            }
                            {
                                serviciosIncluidos.length === 0 && (
                                    <div class="col-span-3 row-span-2 flex flex-col items-center">
                                        <span>
                                            <svg xmlns="http://www.w3.org/2000/svg" class="w-14 h-14" viewBox="0 -960 960 960">
                                                <path d="M250-320h60v-10q0-71 49.5-120.5T480-500q71 0 120.5 49.5T650-330v10h60v-10q0-96-67-163t-163-67q-96 0-163 67t-67 163v10Zm34-270q41-6 86.5-32t72.5-59l-46-38q-20 24-55.5 44T276-650l8 60Zm392 0 8-60q-30-5-65.5-25T563-719l-46 38q27 33 72.5 59t86.5 32ZM480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-400Zm0 320q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Z"/>
                                            </svg>
                                        </span>
                                        <p class="text-lg text-center">No tienes servicios activos <br/> para este proyecto.</p>
                                    </div>
                                    
                                )
                            }
                        </div>
                        
                    </div>
                    {/* Estadistica */}
                    <Resumen proyectoID={proyectoSeleccionadoID} client:only="react"/>
                    
                </div>
            </section>
        </>):(
            <IndexGeneral />
        )
    }
</LayoutPanel>