---
import LayoutPanel from "@layouts/LayoutPanel.astro";
import { verificarSesion } from "@utils/usuario";

const usuario = await verificarSesion(Astro.request);

import { proyectosUsuario } from "@utils/proyectoSeleccionado";
import IndexGeneral from "@components/panel/IndexGeneral.astro";

const proyectos = await proyectosUsuario(Astro.request);

const url = new URL(Astro.request.url);
const proyectoSeleccionadoID = url.searchParams.get("proyectoID");
const proyectoSeleccionado =
    proyectos.find(p => p.id === proyectoSeleccionadoID) ?? null;

let urlPrincipal =
    proyectoSeleccionado?.urls?.find(
        (u: { principal: boolean }) => u.principal
    )?.url ?? null;

urlPrincipal = `https://${urlPrincipal}`;
console.log("urlPrincipal:", urlPrincipal);
const totalUrls = proyectoSeleccionado?.urls?.length ?? 0;
const extraUrls = totalUrls > 1 ? totalUrls - 1 : 0;

function formatearFechaES(
    fecha: string | Date | null | undefined
    ): string {
    if (!fecha) return "";

    const date = fecha instanceof Date ? fecha : new Date(fecha);
    if (isNaN(date.getTime())) return "";

    const meses = [
        "ene", "feb", "mar", "abr", "may", "jun",
        "jul", "ago", "sep", "oct", "nov", "dic"
    ];

    const dia = date.getDate();
    const mes = meses[date.getMonth()];
    const año = date.getFullYear();

    return `${dia} ${mes} ${año}`;
}

---

<LayoutPanel title="Panel de Administración - Pere Alemany | Full-Stack Developer">
    {
        proyectoSeleccionadoID ? (<>
            <section class="max-w-7xl mx-auto w-auto h-auto p-2">
                <div class="grid grid-cols-[auto_1fr] gap-x-2 border border-rosa rounded p-4 ">
                    <div class="w-96 aspect-[16/9] flex items-center place-content-center bg-rosa/30 rounded relative">
                        {urlPrincipal?.startsWith("https://") && (
                            <p>Cargando Imagen...</p>
                            <img
                                src={`/api/screenshot.png?url=${encodeURIComponent(urlPrincipal)}`}
                                alt="Preview web"
                                loading="lazy"
                                class="w-full h-full rounded absolute top-0 left-0 object-cover"
                            />
                        )}
                    </div>

                    <div class="flex flex-col">
                        <h1 class="text-4xl font-bold text-magenta">{proyectoSeleccionado?.nombre}</h1>
                        <p class="mt-2 text-rosa">Dominios</p>
                        <div class="flex flex-row items-center gap-x-4">
                            <a href={urlPrincipal} target="_blank" class="text-blanco flex flex-row items-center gap-x-1  hover:text-rosa hover:fill-rosa duration-300">{urlPrincipal}
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 -960 960 960">
                                        <path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z"/>
                                    </svg>
                                </span>
                            </a>
                            {
                                extraUrls > 0 ? (
                                    <span class="text-sm bg-blue-600/60 rounded-full text-blanco flex flex-row items-center place-content-center w-6 h-6"> +{extraUrls} </span>
                                ) : null
                            }
                        </div>
                        
                        <div class="flex flex-row mt-3 gap-x-3">
                            <div>
                                <p class="text-rosa">Estado:</p>
                                <span class={` py-[2px] flex items-center place-content-center capitalize px-2 gap-x-1 rounded-full `}><span class={`w-[6px] h-[6px] inline-block rounded-full ${proyectoSeleccionado?.estado === "En Producción" ? 'bg-green-600':''} ${proyectoSeleccionado?.estado === "En Desarrollo" ? 'bg-orange-600':''}`}>&nbsp;</span>
                                    {proyectoSeleccionado?.estado === "En Producción"
                                        ? "Activo"
                                        : proyectoSeleccionado?.estado
                                    }
                                </span>
                            </div>
                            <div>
                                <p class="text-rosa">Última actualización:</p>
                                <p>{proyectoSeleccionado?.actualizado_en ? formatearFechaES(proyectoSeleccionado?.actualizado_en) : formatearFechaES(proyectoSeleccionado?.created_at)}</p>
                            </div>
                            <div>
                                <p class="text-rosa">Caduca el:</p>
                                <p>{proyectoSeleccionado?.caducidad ? formatearFechaES(proyectoSeleccionado?.caducidad) : 'NaN'}</p>
                            </div>
                        </div>
                    </div>
                </div>
                
            </section>
        </>):(
            <IndexGeneral />
        )
    }
</LayoutPanel>