---
import LayoutPanel from "@layouts/LayoutPanel.astro";
import { SERVICIOS } from '@const/servicios'; // ruta a tu array

import { proyectosUsuario } from "@utils/proyectoSeleccionado";

const proyectos = await proyectosUsuario(Astro.request);

const url = new URL(Astro.request.url);
const proyectoSeleccionadoID = url.searchParams.get("proyectoID");
console.log("proyectoSeleccionadoID:", proyectoSeleccionadoID);
if(!proyectoSeleccionadoID ) {
  // Redirigir al primer proyecto si no hay ninguno seleccionado
    return Astro.redirect("/panel");
}
const proyectoSeleccionado =
    proyectos.find(p => p.id === proyectoSeleccionadoID) ?? null;

const plan = proyectoSeleccionado?.plan ?? [];

const serviciosPlanSet = new Set(plan.map((p: any) => p.servicio));
console.log(plan);
let serviciosConSeleccion;
if(plan.length > 0) {
  // Redirigir al panel si no hay servicios contratados
     serviciosConSeleccion = SERVICIOS.map(servicio => ({
    ...servicio,
    seleccionado: serviciosPlanSet.has(servicio.id),
    planes: servicio.planes?.map(plan => ({
        ...plan,
        seleccionado: plan.id === proyectoSeleccionado?.plan.find((p: any) => p.servicio === servicio.id)?.plan
    }))
    }));
} else {
     serviciosConSeleccion = SERVICIOS.map(servicio => ({
    ...servicio,
    seleccionado: false,
    planes: servicio.planes?.map(plan => ({
        ...plan,
        seleccionado: false
    }))
    }));
}


const serviciosIncluidos = serviciosConSeleccion.filter(s => s.seleccionado);

const serviciosNoIncluidos = SERVICIOS.filter(s =>
    !serviciosPlanSet.has(s.id)
);

// const getPlanSeleccionado = (servicioId: string) => {
//   return plan.find((p: any) => p.servicio === servicioId)?.plan ?? null;
// };

// const planContratado = getPlanSeleccionado(servicio.id);
//console.log(serviciosIncluidos);
---

<LayoutPanel title="Servicios - Panel de Administración - Pere Alemany | Full-Stack Developer">
    <h3 class="text-3xl mt-10 ml-5 text-rosa font-semibold">Servicios Activos</h3>
    <div class="flex flex-wrap gap-4 mx-auto p-4">
        {serviciosIncluidos.map((servicio) => (
            <div class="border rounded-lg  w-[450px] shadow hover:shadow-lg transition duration-200">
                <div class="h-28 w-full rounded-t-lg ">
                    <img src={`/servicios/${servicio.id}.png`} alt={servicio.nombre} class="w-full h-full object-cover rounded-t-lg"/>
                </div>
                <div class="p-2">
                    {/* <h2 class="text-xl font-bold mb-2 text-magenta">{servicio.nombre}</h2> */}
                    <p class="mb-4">{servicio.descripcion}</p>

                    {/* {servicio.dependeDe && servicio.dependeDe.length > 0 && (
                        <p class="text-sm text-red-500 mb-2">
                        ⚠️ Requiere: {servicio.dependeDe.join(', ')}
                        </p>
                    )} */}

                    {servicio.tipoPrecio === 'desarrollo_unico' ? (
                        <p class="text-lg font-semibold">
                        Pago único: {servicio.precioUnico}€
                        </p>
                    ) : (
                        <div class="grid grid-cols-3 gap-2">
                        {servicio.planes?.map((plan) => (
                            <div class={`border rounded p-2  transition ${plan.id === "basic" ? 'border-blue-500' : plan.id === "pro" ? 'border-green-500' : 'border-purple-500'} ${plan.seleccionado ? (plan.id === "basic" ? 'bg-blue-500/30' : plan.id === "pro" ? 'bg-green-500/30' : 'bg-purple-500/30') : '' }`}>
                            <h3 class="font-bold text-center">{plan.nombre}</h3>
                            <p class="text-sm font-semibold flex gap-2">
                                <span class={`px-2 py-1 border rounded-full mx-auto scale-75 ${plan.id === "basic" ? 'border-blue-500' : plan.id === "pro" ? 'border-green-500' : 'border-purple-500'} ${plan.seleccionado ? (plan.id === "basic" ? 'bg-blue-500/30' : plan.id === "pro" ? 'bg-green-500/30' : 'bg-purple-500/30') : '' }`}>{plan.precioMensual}€ / mes</span>
                                {/* <span>{plan.precioAnual}€/año</span> */}
                            </p>
                            {
                                plan.incluye.map((incluye) => (
                                    <div class={`flex items-center text-xs gap-2 my-1`}>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="w-3 h-3 fill-verde" viewBox="0 -960 960 960">
                                        <path d="M360-240 120-480l58-58 182 182 382-382 58 58L360-240Z"/>
                                        </svg>
                                    <p>{incluye.text}</p>
                                    </div>
                                    ))
                            }
                            </div>
                        ))}
                        </div>
                    )}
                    <div>
                        {servicio.dependeDe && servicio.dependeDe.length > 0 && (
                            <div class="mt-4">
                                <h4 class="font-semibold text-rosa mb-2">Requiere:</h4>
                                <div class="flex flex-wrap px-2 gap-2 ">
                                    {servicio.dependeDe.map((dependencia) => (
                                        <div class="w-24 h-24 p-2 text-center border border-rosa rounded grid grid-rows-[auto_1fr] justify-items-center">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8" viewBox="0 -960 960 960"  set:html={dependencia.icono}></svg>
                                            <p>{dependencia.nombre}</p>
                                        </div>
                                    ))}
                                </div>
                            </div>
                        )}
                    </div>
                </div>
                
            </div>
        ))}
        {serviciosIncluidos.length === 0 && (
            <p class="text-blanco text-lg text-center w-full mt-5">No tienes servicios activos para este proyecto.</p>
        )}
    </div>
    <h3 class="text-3xl mt-10 ml-5 text-rosa font-semibold">Servicios Inactivos</h3>
    <div class="flex flex-wrap gap-4 mx-auto p-4">
        {serviciosNoIncluidos.map((servicio) => (
            <div class="border rounded-lg  w-[450px] shadow hover:shadow-lg transition duration-200">
                <div class="h-28 w-full rounded-t-lg ">
                    <img src={`/servicios/${servicio.id}.png`} alt={servicio.nombre} class="w-full h-full object-cover rounded-t-lg"/>
                </div>
                <div class="p-2">
                    {/* <h2 class="text-xl font-bold mb-2 text-magenta">{servicio.nombre}</h2> */}
                    <p class="mb-4">{servicio.descripcion}</p>

                    {/* {servicio.dependeDe && servicio.dependeDe.length > 0 && (
                        <p class="text-sm text-red-500 mb-2">
                        ⚠️ Requiere: {servicio.dependeDe.join(', ')}
                        </p>
                    )} */}

                    {servicio.tipoPrecio === 'desarrollo_unico' ? (
                        <p class="text-lg font-semibold">
                        Pago único: {servicio.precioUnico}€
                        </p>
                    ) : (
                        <div class="grid grid-cols-3 gap-2">
                        {servicio.planes?.map((plan) => (
                            <div class={`border rounded p-2  transition ${plan.id === "basic" ? 'bg-blue-500/30 border-blue-500': plan.id === "pro" ? 'bg-green-500/30 border-green-500' : 'bg-purple-500/30 border-purple-500' }`}>
                            <h3 class="font-bold text-center">{plan.nombre}</h3>
                            <p class="text-sm font-semibold flex gap-2">
                                <span class={`px-2 py-1 border rounded-full mx-auto scale-75 ${plan.id === "basic" ? 'bg-blue-500/30 border-blue-500': plan.id === "pro" ? 'bg-green-500/30 border-green-500' : 'bg-purple-500/30 border-purple-500' }`}>{plan.precioMensual}€ / mes</span>
                                {/* <span>{plan.precioAnual}€/año</span> */}
                            </p>
                            {
                                plan.incluye.map((incluye) => (
                                    <div class={`flex items-center text-xs gap-2 my-1`}>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="w-3 h-3 fill-verde" viewBox="0 -960 960 960">
                                        <path d="M360-240 120-480l58-58 182 182 382-382 58 58L360-240Z"/>
                                        </svg>
                                    <p>{incluye.text}</p>
                                    </div>
                                    ))
                            }
                            </div>
                        ))}
                        </div>
                    )}
                    <div>
                        {servicio.dependeDe && servicio.dependeDe.length > 0 && (
                            <div class="mt-4">
                                <h4 class="font-semibold text-rosa mb-2">Requiere:</h4>
                                <div class="flex flex-wrap px-2 gap-2 ">
                                    {servicio.dependeDe.map((dependencia) => (
                                        <div class="w-24 h-24 p-2 text-center border border-rosa rounded grid grid-rows-[auto_1fr] justify-items-center">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8" viewBox="0 -960 960 960"  set:html={dependencia.icono}></svg>
                                            <p>{dependencia.nombre}</p>
                                        </div>
                                    ))}
                                </div>
                            </div>
                        )}
                    </div>
                </div>
                
            </div>
        ))}
    </div>
</LayoutPanel>
